
html {
    margin: 0; 
    padding: 0; 
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: Arial;
    margin: 0;
    padding: 0; 
    background-color: whitesmoke;   
}



header {
    grid-area: header; 
}

.Forsidesection {
    grid-area: section-1
}




#ForsideContainer {
    display: grid;
    height: 812px;
    padding: 0; 
    margin: 0; 
    gap: 0; 
    grid-template-areas: 
    "section-1"
}




/* form.SearchBar {
    margin: auto; 
    max-width: 210px;    
}

form.SearchBar input[type=search]{
    border: 1px solid #ccc; 
    height: 25px ;
}

form.SearchBar button {
    margin-left: -5px;
    border: 1px solid #ccc; 
    border-left: none; 
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;    
} */





/*UGEPLAN STYLE START*/

#test12 {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    color: #FF8800;
    opacity: 50%;
    font-size: 36px;
    border: none;
}




.tab {
    display: flex;
    justify-content: space-around;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}





.ForsideBody {
    background-image: url("../images/grønkål\ 02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  
   
}


#opretContainer {
    display: none;
}

.Forsidesection {
    margin-top: 60vh;
   
    
}


.ForsideH2 {
    font-size: 20px;
    width: 85vw;
}


.ForsideTekstCon {
    padding: 20px 0;
    margin-left: 5vw;
}

.ForsideTekstCon {
    color: white;
}

.ForsideP {
    margin-top: 3vh;
    width: 80vw;
}

#btnStart {
    border-style: none;
    padding: 10px;
    width: 90%;
    margin: 0 auto; 
    display: block; 
    background-color: #43885D;
    border-radius: 4px;
    height: 56px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    
}

.btncontainer {
    margin: auto;
    width: fit-content;
   
}

#LogindKnap {
    text-decoration: none;
    color: white;
}

/** FORSIDE FÆRDIGT **/

/* LOG IND SIDE BEGYNDT */

.LogindBody {
    grid-area: Logindindhold ;
    background-image: url("../images/Rectangle\ 1512.png");
}

.Logindmedface {
    position: relative;
}


.BtnFace::before {
    font-family: "Font Awesome 5 Brands" ;
    content: "\f082" ;
    font-weight: 400;
    font-size: 30px;
    position: absolute;
    left: 5vw;
    
    
}

.LoginLogocontainer {
        display: inline-flex;
        margin-left: 10vw;
        margin-top: 15vh;
    }

#LoginLogocontainer {
    position: absolute;
    right: 15px;
    bottom: 0px;
    display: flex;
    align-items: center;
}

.AalborgKommuneH1 {
    color: #141969;
}

.LoginLogocontainer h1 {
        margin-left: 3vw;
        margin-top: 1vh;
        font-size: 20px;
       
}

input[type=password], input[type=email], .input[type=text] {
    padding: 13px 0px;
    width: 279px;
    border-radius: 3px;
    border: none;
    
    
}

.BtnLogin {
width: 70vw;
}

.LogIndsection {
    margin: auto;
    width: fit-content;
    margin-top: 15vh;
}

.FormKodeord, .EmailForm, .Navn, .Adresse {
margin-top: 2vh;
}

.BtnFace {
    margin-top: 3vh;
    color: #141969;
    align-items: center;
    display: flex;
    justify-content: center;
}

.BtnFortsæt, .BtnLogin, .BtnFace, #Navn, #Adresse {
    border-style: none;
    background-color: white;
    border-radius: 3px;
    border: none;
    width: 279px;
    font-weight: bold;
    height: 42px;
    
}



#Logind {
    background-color: #FF8800;
    color: white;
    margin-top: 4vh;
}

.GlemtellerOpret {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    width: 279px;

}

.linje1 {
    height: 2px;
    background-color: rgb(199, 199, 199);
    margin-top: 3vh;
}

.BtnFortsæt {
    margin-top: 3vh;
}

.Eller {
    width: fit-content;
    margin: auto;
    margin-top: 1vh;
}


.ForsætudenAtag {
    text-decoration: none;
    color: #224430;
}

#LogindKnap {
    color: white;
    text-decoration: none;
}

/* LOG IND SIDE FÆRDIGE */


.OpretDigBody {
    background-image: url("../images/Rectangle\ 532.png");
    background-size: cover;
}

.Navn {
    margin-top: 5vh;
}

.LogindKnap {
    border-style: none;
    padding: 10px;
    width: 280px;
    background-color: #FF8800;
    height: 48px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5vh;
    text-decoration: none;
}

#Opretdigknap {
    text-decoration: none;
    color: white;
}

#Opretprofil {
    text-decoration: none;
    color: black;
}
