
html {
    margin: 0; 
    padding: 0; 
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: Arial;
    margin: 0;
    padding: 0; 
    background-color: whitesmoke;   
}

#containerProfil, #containerUgeplan, #containerUdforsk, #containerSidebar, #containerBjergbanestien {
   display: none;  
}


.LogotekstHomepage {
    color: #141969;
    margin: 15px 0 0 15px;
}

.LogoHomepage {
    display: flex;
    margin: auto;
    margin: 5vh auto;
}

header {
    grid-area: header; 
}

.section-Bjergbanestien {
    margin-top: 20px; 
    grid-area: Bjergbanestien 
}

.section-Egholm {
    grid-area: Egholm 
}

.section-Mulbjerge {
    grid-area: Mulbjerge
}

.section-PoulstrupSø {
    grid-area: PoulstrupSø
}

.section-ØsterådalenNord {
    grid-area: ØsterådalenNord
}

.section-ØsterådalenSyd {
    grid-area: ØsterådalenSyd
}


form.SearchBar {
    margin: auto; 
    max-width: 210px;    
}

form.SearchBar input[type=search]{
    border: 1px solid #ccc; 
    height: 25px ;
}

form.SearchBar button {
    margin-left: -5px;
    border: 1px solid #ccc; 
    border-left: none; 
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;    
}


#search-icon {
    color:#5cc4b7;  
}


.btn-walk-run-family {
    display: flex; 
    justify-content: center;
    margin-top: 0px;    
}

.paragraph-walk-family-run {
    display: flex; 
    justify-content: center;
    margin-top: -20px;  
    font-size: 8px; 
    color: rgb(88, 88, 88);
}

#løb {
    display: inline-block;
    margin-right: 12px; 
  
}

#vandring {
    display: inline-block; 
    margin-right: 15px; 
}

#familie {
    display: inline-block; 
    margin-left: 5px;
    margin-right: 20px;  
}



#walking-icon, #family-icon, #running-icon {
    width: 35px;
    padding: 10px; 
}

#Bjergbanestien-image, #Mulbjerge-image, #Egholm-image, #PoulstrupSø-image, #ØsterådalenNord-image, #ØsterådalenSyd-image {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    box-shadow: 2px 2px 5px #aaaaaa;
}

.section-Bjergbanestien, .section-Egholm, .section-Muljerge , .section-PoulstrupSø, .section-ØsterådalenNord, .section-ØsterådalenSyd{
    position: relative;
}


#bookmark-style-1, #bookmark-style-2, #bookmark-style-3, #bookmark-style-4, #bookmark-style-5, #bookmark-style-6{
    position: absolute;
    top: 4px; 
    right: 25px; 
    color: white;   
}

.headline-bjergbanestien, .headline-Egholm, .headline-Mulbjerge, .headline-PoulstrupSø, .headline-ØsterådalenNord, .headline-ØsterådalenSyd{
    position: absolute;
    bottom: 35px; 
    left: 25px; 
    color: white; 
    text-shadow: 2px 2px rgba(0, 0, 0, 0.678);
}

.paragraph-destination-bjergbanestien, .paragraph-destination-egholm, .paragraph-destination-mulbjerge, .paragraph-destination-poulstrupSø, .paragraph-destination-østerådalenNord, .paragraph-destination-østerådalenSyd {
    position: absolute;
    bottom: 5px; 
    left: 25px; 
    color: white; 
    text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.637);
    
}

.section-ØsterådalenSyd {
   margin-bottom: 70px; 
}


#containerHome {
    display: grid; 
    padding: 0px; 
    margin: 0px; 
    gap: 8px; 
    grid-template-areas: 
    "header"
    "Bjergbanestien"
    "Egholm"
    "Mulbjerge"
    "PoulstrupSø"
    "ØsterådalenNord"
    "ØsterådalenSyd"
    
}

/* #bjergbanestienContainer {
    display: none;
} */

/*UGEPLAN STYLE START*/

#test12 {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    color: #FF8800;
    opacity: 50%;
    font-size: 36px;
    border: none;
}

.tab {
    display: flex;
    justify-content: space-around;
}

#containerUgeplan {
    background-color: white; 
    display: hidden;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    "ugeplanheader"
    "Alt";
}

.UgeplanHeader1 {
    grid-area: ugeplanheader;
}

.SectionTid {
    grid-area: Alt;
}

.tilbage-ugeplan {
    color: black;
}

.TilbageH3 {
    float: left;
    padding: 16px 10px 0px 5px;
    font-size: 14px;
}


.TilbageLogo {
    float: left;
    padding: 30px 5px 0 20px;
}


.UgeplanH3 {
    margin: auto;
    width: fit-content;
    padding-top: 29px;
}

.SectionTid {
    margin-top: 5vh;
}

.Tidsintervalcontainer {
    display: flex;
    justify-content: space-around;
    margin-top: 7vh;
}

.Tidsinterval {
    color: rgba(0, 0, 0, 0.664);
    margin: 0 0 10px;
}


.Tidcontainer {
    display: flex;
    justify-content: space-between;
    Padding: 10px 20px 5px 20px;
    border-bottom: 1px solid rgb(184, 184, 184);
}

.DageH3 {
    margin-top: 20px;
}

.BJERGBANESTIENH3 {
    background-color: #ECECEC;
    box-shadow: 2px 2px 5px rgba(160, 160, 160, 0.514);
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;

}


/*Profil Side*/

.LogotekstOmråde, .LogoOmråde {
    float: left;
    margin: 0;
    font-size: 14px;
    margin-right: 5px;
}

#Logocontainerområde {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;

}


.Midt {
    grid-area: vennerSec;
    padding-bottom: 10vh;
}


.container {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-areas: "headerUdforsk"
    "vennerSec"
    "PopRuter"
    "Anmeldte";

}

.ProfilHeader {
    background-image: url("../images/Test.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: headerUdforsk;
    position: relative;
    height: 198px;
}

.Gennemførstwrap {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}


.Profilbillede {
   width: fit-content;
   position: absolute;
   top: 30%;
   left: 20%;
}

.MadsMikkelsenH1 {
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    width: fit-content;
    margin-top: 11vh;
}


.TilmeldtP {
    margin: auto;
    width: fit-content;
    margin-top: 2vh;
}


.GennemførstContainer, .Grafbillede {
    width: fit-content;
    margin: auto;
    margin-top: 5vh;

}


.MålIkonercontainer {
    width: 291px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 85%;
}

.Måltekst {
    font-size: 14px;
}

.Dropdown {
    margin-top: 14px;
}

.Grafcontainer {
    width: 291px;
    margin: auto;
    margin-top: 5vh;
}

.AntalP {
    float: left;
    margin-right: 15px;
    font-size: 11px;
}

.Tekstcontainer {
    width: 291px;
    margin: 10vh auto 5vh auto;
    display: flex;
    justify-content: space-between;
}

.SenesteP {
    font-weight: 700;
}

.Gallericontainer {
    display: flex;
    flex-wrap: wrap;
    width: 291px;
    margin: auto;
    gap: 8px;
}

.ProfilGalleri {
    position: relative;
}

.Galleritekst {
    position: absolute;
    bottom: 27%;
    left: 20%;
    color: white;

}


.Sidebarnav {
    width: 224px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.959);
    display: none;
}


.Sidebarbillede {
    width: fit-content;
    margin: auto;
    display: flex;
    margin-top: 50px;
}

.Navbarliste li,  .Navbarliste {
    list-style: none;
    padding: 20px;
   
}

.Navbarliste li {
    border-bottom: 1px solid rgb(168, 167, 167);
}

.navbarlistecontainer {
    margin: auto;
    width: fit-content;
}

.Logudknap {
    border: none;
    position: fixed;
    bottom: 5%;
    right: 25%;

}

.Indstillingerikon:before {
    font-family: "Font Awesome 5 Free" ;
    content: "\f013" ;
    font-weight: 900;
    margin-right: 20px;

}


.Kontaktikon:before {
    font-family: "Font Awesome 5 Free" ;
    content: "\f2b9" ;
    font-weight: 900;
    margin-right: 20px;

}


.Gemtikon:before {
    font-family: "Font Awesome 5 Free" ;
    content: "\f02e" ;
    font-weight: 900;
    margin-right: 20px;

}


.Reglerikon:before {
    font-family: "Font Awesome 5 Free" ;
    content: "\f56c" ;
    font-weight: 900;
    margin-right: 20px;

}

#Kryds {
    position: absolute;
    top: 15px;
    right: 15px
}


/*Udforsk side start */

.HeaderUdforsk {
    position: relative;
    background-image: url("../images/Group\ 567.png");
    background-size: cover;
    height: 236px;
    margin-bottom: 2vh;
    grid-area: headerUdforsk
}


.Vennersektion {
    display: grid;
    grid-area: vennerSec
}

.PopulærRuter {
    display: grid;
    grid-area: PopRuter;
}

.AnmeldteSektion {
    display: grid;
    grid-area: Anmeldte;
}

#goBackArrow {
    padding: 8px;
    color: white;
}

.UdforskIntro {
    padding: 4vh 2vh;
    margin-top: 14px;
}


.UdforskH1 {
    font-size: 30px;
    font-weight: 800;
}

.UdforskH1, .UdforskP {
    color: white;
    width: 50vw;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.678);
    
}

.FindVenner {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
}

.IkonerVenner {
    width: fit-content;
    margin: auto;
    border-bottom: 1px solid black;
    padding-bottom: 3vh;
}


.ContainerPopulær {
    position: relative;
    width: 344px;
    height: 186px;
    background-image: url("../images/Mulbjerge-05.jpg");
    background-size: cover;
    color: white;
    margin: auto;
    border-radius: 12px;
}

.BokseAnmeldelse {
    margin-top: 5vh;
    position: relative;
    width: 344px;
    height: 186px;
    background-image: url("../images/Mulbjerge-03.jpg");
    background-size: cover;
    color: white;
    margin: auto;
    border-radius: 12px 12px 0 0;
}

.PopulærH1, .AnmeldteH1 {
    font-size: 18px;
    padding: 10px 20px 0;
    margin-top: 2vh;
}

.Stjerner {
    position: absolute;
    top: 5%;
    left: 2%;
}

.Bookmark {
    position: absolute;
    right: 3%;
    top: 5%;
}

.BoksH3 {
    position: absolute;
    bottom: 0%;
    left: 2%;
}

.TimeLogo {
    position: absolute;
    left: 30%;
    bottom: 11%;
}

.Tidp {
    position: absolute;
    left: 35%;
    bottom: 6%;
    font-size: 10px;
}

.VennerPåRute {
    position: absolute;
    right: 8%;
    bottom: 5%;
}

.P3 {
    position: absolute;
    right: 2%;
    bottom: 2%
}

.RatingContainer {
    position: relative;
    display: flex;
    width: 344px;
    height: 193px;
    margin: auto;
}

.Anmelderh2 {
    font-size: 15px;
    margin-left: 1vw;
    margin-top: 2px;
}

.AnmelderP {
    font-size: 13px;
    width: 80%;
    margin-top: 5px;
}

.Højrehjørnened {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.anmelderstjerne {
    margin-left: 1vw;
}

.anmeldertekst, .Anmelderbillede {
    padding-top: 2vh;
    padding-left: 3vw;
}

#udforsk-bar {
  bottom: 0;
  position: fixed;
}



.tab {
    display: flex;
    justify-content: space-around;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}



/* NÅR MAN TRYKKER PÅ ET OMRÅDE */


.header-bjergbanestien {position: relative;
    background-image: url("../images/Bjergbanestigen-side2.jpg");
    width: 100%;
    height: 236px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header-bjergbanestien {
    display: grid; 
    grid-area: headerBjergbanestien;
}

.section-information-rute-Østerådalen {
    padding-bottom: 25vh;
}

.section-bjergbanestien-info {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 21px; 
    display: grid; 
    grid-area: sectionInfo;
    
}

.OmrådeBody {
    position: relative;
}

.section-information-rute-bjergbanestien {
    display: grid; 
    grid-area: sectionInfoRute;
    padding-bottom: 25vh;
}

.KlartilatgåContainer {
    display: flex;
    justify-content: space-around;
    height: 94px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    position: fixed;
    bottom: 66px;
    width: 375px;
    visibility: hidden;
    background-color: white;
}

.Klarh2 {
    font-size: 16px;
    align-items: center;
    display: flex;
    color: #575757;
}


.RuteIkon {
    padding-left: 10px;
}

.RuteknapContainer {
    display: flex;
    align-items: center;
}


.RuteKnap {
background-color: #5CC4B7;
border: none;
border-radius: 8px;
height: 55px;
width: 174px;
font-size: 16px;
color: white;
display: flex;
justify-content: center;
align-items: center;
}


.navbar-mobile {
    display: flex; 
    justify-content: space-between;
    padding: 10px;
    color: white;
}

.image-container {
    margin-left: 20px;
    position: absolute;
    bottom: -30px;
    
}

#image-style-1, #image-style-2, #image-style-3, #image-style-4 {
    border-radius: 8px;
}

.headline-bjergbanestien-info {
    margin-bottom: 12px;
}
#icon-style-1, #icon-style-2, #icon-style-3, #icon-style-4, #icon-style, #icon-style-1-egholm{
    color: #141969;
}

#icon-style-2, #icon-style-3, #icon-style-4, #icon-style-1-egholm{
    margin-left: 10px;
}

.wrap-park-toilet {
    display: flex;
}

.paragraph-parking, .paragraph-toilet {
    font-size: 10px;
    margin-left: 4px;
    color: rgb(112, 112, 112);
    margin-top: 3px;
}

.headline-rute-information {
    margin-left: 20px;
}



#footer-bjergbanestien {
    bottom: 0;
    position: fixed;
}

#bars-style-1, #bars-style-2, #bars-style-3 {
    border: 5px solid; 
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 18px;
    text-align: center; 
}

#bars-style-1 {
    border-color: #141969;
    color: #141969;
}

#bars-style-2 {
    border-color: #d61c64;
    color: #d61c64;
}

#bars-style-3 {
    border-color: #224430; 
    color: #224430;
}

.icons-ruteInformation-wrap, .icons-ruteInformation-tekst {
    display: flex; 
    justify-content: space-evenly;   
}

.icons-ruteInformation-tekst {
    margin-top: -13px;
    margin-bottom: -18px;
    font-size: 16px;
    color: rgb(94, 94, 94);
}

.paragraph-time {
    padding-right: 18px;
}

.paragraph-distance {
    padding-right: 20px;
}

.paragraph-level {
    padding-right: 4px;
}

.arrowBack {
    color: white; 
}

.ruteInformation-container {
    border: 1px solid rgb(211, 211, 211); 
    padding: 8px; 
    border-radius: 8px;
    margin-left: 16px; 
    margin-right: 16px; 
    background-color: white; 
}

.container-Bjergbanestien {
    display: grid; 
    padding: 0px; 
    margin: 0px; 
    gap: 0px; 
    grid-template-areas: 
    "headerBjergbanestien"
    "sectionInfo"
    "sectionInfoRute"
    "footer"
}


.FooterForside {

    grid-area: Footer;
}

.Logotekst {
    position: absolute;
    right: 15px;
    bottom: -5px;
    color: white;
}

ForsideContainer {
    display: grid; 
    padding: 0px; 
    margin: 0px; 
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "Indhold"
   "Footer";
    

}


.ForsideBody {
    background-image: url("../images/grønkål\ 02.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    height: 812px;
}

#forside {
    display: none;
}

#opretContainer {
    display: none;
}

.Forsidesection {
    margin-top: 60vh;
   grid-area: Indhold;
    
}

.logocontainer {
    display: inline-flex;
    margin-left: 15px;
    margin-bottom: 2vh;
}

.LogoForside {
    float: left;
    width: 90px;
    height: 90px;
}

.ForsideH1 {
    margin-left: 3vw;
    color: #ffffff;
    float: right;
    align-items: center;
    display: flex;
    
}

.ForsideH2 {
    font-size: 20px;
    width: 85vw;
}


.ForsideTekstCon {
    padding: 20px 0;
    margin-left: 5vw;
}

.ForsideTekstCon, .logocontainer {
    color: white;
}

.ForsideP {
    margin-top: 3vh;
    width: 80vw;
}

.komigangbtn {
    border-style: none;
    padding: 10px;
    width: 319px;
    background-color: #43885D;
    border-radius: 4px;
    height: 56px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    
}

.btncontainer {
    margin: auto;
    width: fit-content;
   
}

#LogindKnap {
    text-decoration: none;
    color: white;
}

/** FORSIDE FÆRDIGT **/

/* LOG IND SIDE BEGYNDT */

.LogindBody {
    grid-area: Logindindhold ;
    background-image: url("../images/Rectangle\ 1512.png");
}

.Logindmedface {
    position: relative;
}


.BtnFace::before {
    font-family: "Font Awesome 5 Brands" ;
    content: "\f082" ;
    font-weight: 400;
    font-size: 30px;
    position: absolute;
    left: 5vw;
    
    
}

.LoginLogocontainer {
        display: inline-flex;
        margin-left: 10vw;
        margin-top: 15vh;
    }

#LoginLogocontainer {
    position: absolute;
    right: 15px;
    bottom: 0px;
    display: flex;
    align-items: center;
}

.AalborgKommuneH1 {
    color: #141969;
}

.LoginLogocontainer h1 {
        margin-left: 3vw;
        margin-top: 1vh;
        font-size: 20px;
       
}

input[type=password], input[type=email], .input[type=text] {
    padding: 13px 0px;
    width: 279px;
    border-radius: 3px;
    border: none;
    
    
}

.BtnLogin {
width: 70vw;
}

.LogIndsection {
    margin: auto;
    width: fit-content;
    margin-top: 15vh;
}

.FormKodeord, .EmailForm, .Navn, .Adresse {
margin-top: 2vh;
}

.BtnFace {
    margin-top: 3vh;
    color: #141969;
    align-items: center;
    display: flex;
    justify-content: center;
}

.BtnFortsæt, .BtnLogin, .BtnFace, #Navn, #Adresse {
    border-style: none;
    background-color: white;
    border-radius: 3px;
    border: none;
    width: 279px;
    font-weight: bold;
    height: 42px;
    
}



#Logind {
    background-color: #FF8800;
    color: white;
    margin-top: 4vh;
}

.GlemtellerOpret {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    width: 279px;

}

.linje1 {
    height: 2px;
    background-color: rgb(199, 199, 199);
    margin-top: 3vh;
}

.BtnFortsæt {
    margin-top: 3vh;
}

.Eller {
    width: fit-content;
    margin: auto;
    margin-top: 1vh;
}


.ForsætudenAtag {
    text-decoration: none;
    color: #224430;
}

#LogindKnap {
    color: white;
    text-decoration: none;
}

/* LOG IND SIDE FÆRDIGE */


.OpretDigBody {
    background-image: url("../images/Opret\ baggrund.png");
    background-size: cover;
}

.Navn {
    margin-top: 5vh;
}

.LogindKnap {
    border-style: none;
    padding: 10px;
    width: 280px;
    background-color: #FF8800;
    height: 48px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5vh;
    text-decoration: none;
}

#Opretdigknap {
    text-decoration: none;
    color: white;
}

#Opretprofil {
    text-decoration: none;
    color: black;
}
